.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 120px;
    row-gap: 56px;
}



.content{
    margin: 0 auto;
    display: flex;
    width: 100%;
    justify-content: center;
    column-gap: 24px;

}
 

.text{
    flex-basis: 628px;
    max-width: 628px;
    padding-top: 40px;
    padding-bottom: 40px;
    row-gap: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-right: 32px;
}


.block_name{
    color: #374151;
    font-size: 16px;
    font-weight: 600;
    line-height: 32px; 
}



.title{
    color: black;
    font-size: 48px;
    font-weight: 700;
    line-height: 57.6px;  
    max-width: 350px;
}

.description{
    max-width: 555px;
    color: var(--Grey-006, #6B7280);
    font-size: 18px;
    line-height: 28px; 
}


.button{
    padding: 0px;
    align-self: flex-start;
    color: #65A30D;
    font-size: 18px;
    font-weight: 600;
    background: none;
    border: none;
    cursor: pointer;
    line-height: 28px;
}

.button:hover{
    color: #4D7C0F;
}


.collabs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}

.collabs_item{
    position: relative;
    overflow: hidden;
    min-width: 192px;
    border: 4px solid;
    max-width: 192px;
    width: 100%;
    aspect-ratio: 1/1;
    cursor: pointer;
    background-size:contain;
    border-radius: 50%;
}

.collab_item_active{
    border: 4px solid #543465;
}

.collabs_item:hover{
    z-index: 0;
}
 


.collabs_item::after{
    z-index: 2;
    content: '';
    top: -5px;
    left: 0;
    min-width: 192px;
    width: 100%;
    aspect-ratio: 1/1;
    position: absolute;
    background-image: inherit;
    background-size: cover;
    transition: 0.3s;
}



/* Hover */
.collabs_item:hover::after{
    transform: scale(1.2);
}
 

.collabs_want{
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    min-width: 192px;
    max-width: 192px;
    aspect-ratio: 1/1;
    align-items: center;
    justify-content: center;
    background: #EAECE6;
    border-radius: 50%;
    color:#65A30D;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px; 
    cursor: pointer;
    text-decoration: none;
}

 
.collabs_want:hover{
    color: #4D7C0F;
}

.collabs_want:hover :first-child{
    fill: #4D7C0F;
}


@media screen and (max-width: 600px) {
    .wrapper{
        row-gap: 32px;
        padding-bottom: 20px;
    }
    .content{
        flex-direction: column-reverse;
    }
    .content img{
        width: 100%;
        max-height: 228px;
        width: 287px;
        margin-bottom: 17px;
        margin: 0 auto;

    }
    .title{
        font-size: 24px;
        line-height: 32px;
    }

    .description{
        font-size: 16px;
        line-height: 32px;
    }
    .text{
        row-gap: 16px;
        padding: 24px 16px;
        flex-basis: unset;
        padding-bottom: 0px;
    }

    .block_name{
        font-size: 14px;
        line-height: 20px;
    }

    .collabs{

        overflow-x: scroll;
        -ms-overflow-style: none; 
        scrollbar-width: none; 
        flex-wrap: nowrap;
        justify-content: unset;
        padding-left: 16px;
    }

    .collabs_item{
        min-width: 80px;
    }

    .collabs_item::after{
        min-width: 80px;
    }

    .collabs_want {
        min-width: 80px;
    }

    .collabs_want span{
        display: none;
    }
}
